.content-wrapper {
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 6px 12px 13px 3px #00000040;
}

.form-group {
    display: flex;
}

.form-group input#string-processor {
    width: 100%;
    padding: 10px;
}

button.btn.btn-primary {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    background-color: #9797ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.search-results {
    padding: 25px;
    background-color: #ebffeb;
    font-size: 14px;
    margin-top: 40px;
    border-radius: 10px;
    border: 3px solid #abf1ab;
}